<html>
<head>
    <link href="~/Content/dropdown.css" rel="stylesheet" />

    <body class="theme-transit">
    <section class="container">

        <div class="dropdown dropdown-dark">
            <select name="two" class="dropdown-select">
                <option value="">Database</option>
                <option value="1">DATA</option>
            </select>
        </div>
            

        <div class="dropdown dropdown-dark">
            <select name="two" class="dropdown-select">
                <option value="">Selection</option>
                <option value="1">Age</option>
            </select>
        </div>
            

        <div class="dropdown dropdown-dark">
            <select name="two" class="dropdown-select">
                <option value="">Chart Shape</option>
                <option value="1">Bar</option>
            </select>
        </div>
        <div class="dropdown dropdown-dark">
            <select name="two" class="dropdown-select">
                <option value="">Job</option>
                <option value="1">All</option>
            </select>
        </div>
    </section>
    

    <button onclick="window.location.href = '/Home/Index'">See Your Chart!</button>
    

    </body>

</head>
</html>
